# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac conf file
.DS_Store

# autotool files
.deps
config.log
config.status
autom4te.cache
aclocal.m4

# tmp files
*.swp